[Unit]
Description=KF2 Server
After=syslog.target network.target

[Service]
Type=simple
User=steam
Group=steam
# KF2 is way too noisy and writes to both journald and messages, disable it
StandardOutput=file:/home/steam/Steam/logs/kf2.txt
# gotta rm first because systemd can only append or overwrite from beginning, because reasons
# https://github.com/systemd/systemd/issues/8983
# and the file is always owned by root:root regardless of service ownership, because reaosns
# https://github.com/systemd/systemd/issues/14385
#ExecStartPre=/usr/bin/rm /home/steam/Steam/logs/kf2.txt
# nevermind, the + preffix runs the command with full privileges
# prefer truncate, that way klf log keeps working even after a service restart
ExecStartPre=+/usr/bin/truncate --size=0 /home/steam/Steam/logs/kf2.txt
{% if not kf2_classic %}
# make sure our patches work, wildcards are prohibited so use subshell
ExecStartPre=/bin/sh -c '/bin/dos2unix /home/steam/Steam/KF2Server/KFGame/Web/ServerAdmin/*'
# apply the patch, ignore if already applied
ExecStartPre=-/bin/patch --forward -r /tmp/kf2-patch.rej -p1 -d /home/steam/Steam/KF2Server/KFGame/Web/ServerAdmin -i /etc/systemd/system/kf2.service.d/serveradmin.patch
{% endif %}
# make sure KF2 uses the Steam provided library, not the ones it bundles
# update: this breaks KF2 as of 2023-02-03
#ExecStartPre=/bin/ln -sTf /home/steam/Steam/linux64/steamclient.so /home/steam/Steam/KF2Server/Binaries/Win64/lib64/steamclient.so
# these appear to be gone, thankfully
#ExecStartPre=/bin/ln -sTf /home/steam/Steam/linux64/steamclient.so /home/steam/Steam/KF2Server/linux64/steamclient.so
#ExecStartPre=/bin/ln -sTf /home/steam/Steam/linux64/steamclient.so /home/steam/Steam/KF2Server/steamclient.so
# delete all bundled libs, use Steam's only, it MUST be in this specific magic dir, because reasons
ExecStartPre=/bin/rm -f /home/steam/Steam/KF2Server/steamclient.so
ExecStartPre=/bin/rm -f /home/steam/Steam/KF2Server/Binaries/Win64/lib64/steamclient.so
ExecStartPre=/bin/rm -f /home/steam/Steam/KF2Server/linux64/steamclient.so
ExecStartPre=/bin/mkdir -p /home/steam/.steam/sdk64
ExecStartPre=/bin/ln -sTf /home/steam/Steam/linux64/steamclient.so /home/steam/.steam/sdk64/steamclient.so
# make sure the executables are actually executable
ExecStartPre=/bin/chmod +x /home/steam/Steam/KF2Server/Binaries/Win64/KFGameSteamServer.bin.x86_64
ExecStartPre=/bin/chmod +x /home/steam/Steam/KF2Server/Binaries/Win64/lib64/libSDL2-2.0.so.0
ExecStartPre=/bin/chmod +x /home/steam/Steam/KF2Server/Binaries/Win64/lib64/libsteam_api.so
# ensure Steam is up-to-date
ExecStartPre=/home/steam/Steam/steamcmd.sh --help
ExecStart=/home/steam/Steam/KF2Server/Binaries/Win64/KFGameSteamServer.bin.x86_64 ${KF2_PARAMS}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
