[Unit]
Description=KF2 Auto-Kick Bot
# start after KF2 started
After=syslog.target network.target kf2.service
# autokick won't work if KF2 isn't running
Requires=kf2.service
# restart and stop automatically if KF2 is restarted/stopped
PartOf=kf2.service

[Service]
Type=simple
User=steam
Group=steam
# This fails if the admin password is not set in KFGame.ini. But that's actually
# desirable, since webadmin is disabled when no admin password is set. In which
# case there's no point in starting the autokick service either.
ExecStartPre=/bin/bash -c "/bin/sed -i \"s/\\\"basicAuthorization\\\".*/\\\"basicAuthorization\\\": \\\"admin:$(/bin/crudini --get /home/steam/Config/My-LinuxServer-KFGame.ini Engine.AccessControl AdminPassword | sed 's/[\/&]/\\\\&/g')\\\",/g\" /home/steam/Config/autokick.json"
ExecStart=/bin/node /home/steam/kf2autokick/lib/index.js --config=/home/steam/Config/autokick.json
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
