[Unit]
Description=KF2 Auto-Kick Bot
After=syslog.target network.target

[Service]
Type=simple
User=steam
Group=steam
# This fails if the admin password is not set in KFGame.ini. But that's actually
# desirable, since webadmin is disabled when no admin password is set. In which
# case there's no point in starting the autokick service either.
ExecStartPre=/bin/bash -c "ADMINPW=$(/bin/crudini --get /home/steam/Config/My-LinuxServer-KFGame.ini Engine.AccessControl AdminPassword | sed 's/[\/&]/\\\\&/g') && /bin/sed -i \"s/basicAuthorization.*/basicAuthorization: admin:$ADMINPW,/g\" /home/steam/Config/autokick.json"
# make sure we patch webadmin every time, otherwise it could break after an update
# it can still break because of sed match pattern change, but still better
ExecStartPre=/bin/dos2unix /home/steam/Steam/KF2Server/KFGame/Web/ServerAdmin/current_player_row.inc
ExecStartPre=/bin/sed -i 's@<td><%%player.perk.name%%></td>@<td class="foo-bar"><%%player.perk.name%%>;<%%player.perk.level%%>;<%%player.playerkey%%></td>@g' /home/steam/Steam/KF2Server/KFGame/Web/ServerAdmin/current_player_row.inc
ExecStart=/bin/node /home/steam/kf2autokick/lib/index.js --config=/home/steam/Config/autokick.json
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
